<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCS API</title>
</head>
<body>
    <h1>www.ccslife.uz uchun REST API.</h1>
    <br>
    <ol>
        <li> admin/
        <li> api/&lt;str:lang&gt;/ searching/
        <li> api/&lt;str:lang&gt;/ categories/
        <li> api/&lt;str:lang&gt;/ categories/&lt;int:pk&gt;/
        <li> api/&lt;str:lang&gt;/ categories/&lt;int:categoty_id&gt;/products/
        <li> api/&lt;str:lang&gt;/ categories/&lt;int:categoty_id&gt;/products/&lt;int:pk&gt;/
        <li> api/&lt;str:lang&gt;/ categories/&lt;int:categoty_id&gt;/products/&lt;int:product_id&gt;/imgs/
        <li> api/&lt;str:lang&gt;/ brands/
        <li> api/&lt;str:lang&gt;/ certificates/
        <li> api/&lt;str:lang&gt;/ projects/
        <li> api/&lt;str:lang&gt;/ projects/&lt;int:pk&gt;/
        <li> api/&lt;str:lang&gt;/ projects/&lt;int:project_id&gt;/imgs/
        <li> api/&lt;str:lang&gt;/ info/
    </ol>
</body>
</html>